pandas==1.5.3
numpy==1.23.5
jupyter==1.0.0
wordcloud==1.8.2.2
frozendict==2.3.7
ipywidgets==7.7.2
spacy==3.3.1
scikit-learn==1.2.2
colorlog==5.0.1
plotly==5.9.0
pyldavis==3.4.0
transformers==4.24.0
pyarrow==11.0.0
coolname==2.2.0